html {
    background: url(img/background.jpg) fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 15px;
    text-justify: auto;
}

#pagina {
    width: 1200px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px 10px 10px;
}

.topnav {
    background-color: #333;
    justify-content: center;
    display: flex;
  }

  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  td {
    padding-bottom: 20px;
    padding-right: 10px;
    vertical-align: top;
  }